extends layout
block content

  h1= title
  form(method='POST')
    h5
      label #{quiz.question}
      input#question.form-check-input(type='hidden' name='questionID' value=quiz._id)
    each answer in quiz.answer.answerOption.sort((a, b)=>{return 0.5 - Math.random()})
      div.form-check
        input#answer.form-check-input(type='radio' name='possibleAnswer' value=answer required)
        label#answer.form-check-label(for=answer) #{answer}
    button.btn.btn-outline-success(type='submit') Submit
